.itemDetail {
  padding: 20px; 
  background-color: #2b2b2b; 
  border-radius: 8px; 
  max-width: 600px;
  margin: 20px auto; 
  color: #fff; 
  text-align: center; 
}

.itemDetail h2 {
  font-size: 2em; 
  color: #e74c3c; 
  margin-bottom: 10px; 
}

.itemDetail p.price {
  font-size: 1.5em; 
  color: #fff; 
}


.itemDetail img {
  width: 50%; 
  height: auto; 
  border-radius: 5px; 
}