.itemDetailContainer {
  padding: 20px; 
  background-color: #2b2b2b; 
  border-radius: 8px; 
  max-width: 800px; 
  margin: 20px auto; 
  color: #fff; 
  text-align: center; 
}


.itemDetail {
  padding: 15px; 
  background-color: #1e1e1e; 
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
}
