.cartWidget {
  display: flex; 
  align-items: center; 
  background-color: #000000; 
  color: #fff; 
  padding: 10px 15px; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s; 
  position: relative; 
}

.cartWidget:hover {
  background-color: #2c2c2c; 
}
.carrito {
  font-size: 24px; 
}

.contadorCarrito {
  margin-left: 8px; 
  background-color: #e74c3c;
  color: #fff; 
  border-radius: 50%; 
  padding: 5px 10px; 
  position: absolute; 
  top: -5px; 
  right: -10px; 
  font-size: 14px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}
