.navbar {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: #000000; 
  padding: 15px 20px; 
}

.gameverseLogo {
  width: 120px; 
  height: auto; 
}

.categorias {
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
}

.categorias li {
  margin: 0 15px; 
}

.categorias li a {
  color: #fff; 
  text-decoration: none; 
  font-weight: bold; 
  position: relative; 
  transition: color 0.3s; 
}

.categorias li a:hover {
  color: #3498db; 
}

.categorias li a:hover::after {
  content: ""; 
  position: absolute; 
  width: 100%; 
  height: 2px; 
  background: #3498db; 
  bottom: -5px; 
  left: 0; 
}
