.itemList {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  margin: 20px 0; 
}

.item {
  background-color: #1e1e1e; 
  border: 1px solid #ff6b6b; 
  border-radius: 5px; 
  padding: 15px; 
  margin: 10px; 
  width: 250px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  transition: transform 0.2s; 
}

.item:hover {
  transform: scale(1.05); 
}


.item img {
  width: 100%; 
  height: auto; 
  border-radius: 5px; 
}

.item p {
  margin: 5px 0; 
  color: #cccccc; 
}


